@import url('styles.css');

.toggle-theme_icon {
    margin-right: 0.5em;
    width: 20px;
  }

#experiencia {
  padding: 1em;
}





#experiencia h1::before {
  content: "🧰 ";
}

#experiencia p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
}

#experiencia ul {
  list-style-type: square;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

#experiencia li {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.destacado {
  color: #ff1e1e;
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
  animation: neonPulse 1.8s ease-in-out 0s 50 forwards;
  text-shadow:
    0 0 5px #ff1e1e,
    0 0 10px #ff1e1e,
    0 0 20px #ff1e1e,
    0 0 40px #ff0000,
    0 0 80px #ff0000;
}

@keyframes neonPulse {
  0% {
    transform: scale(1);
    opacity: 1;
    text-shadow:
      0 0 5px #ff1e1e,
      0 0 10px #ff1e1e,
      0 0 20px #ff1e1e,
      0 0 40px #ff0000,
      0 0 80px #ff0000;
  }
  50% {
    transform: scale(1.35);
    opacity: 0.85;
    text-shadow:
      0 0 10px #ff4c4c,
      0 0 20px #ff4c4c,
      0 0 40px #ff4c4c,
      0 0 80px #ff4c4c,
      0 0 120px #ff4c4c;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow:
      0 0 5px #ff1e1e,
      0 0 10px #ff1e1e,
      0 0 20px #ff1e1e,
      0 0 40px #ff0000,
      0 0 80px #ff0000;
  }
}
